button {
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    background-color: rgb(204, 204, 204);
}

button:hover {
    cursor: pointer;
    background-color: rgb(155, 155, 155);
    transition: .2s;
    color: aliceblue;
}
