.contenedor-general-habito {
    display: grid;
    grid-template-rows: auto
                        auto;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}

.contenedor-informacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10vh;
}

/* informacion */

.info {
    background-color: #fff;
    width: 100%;
    padding: 2vh;
}

/* calendario */

.calendario {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  max-width: 300px;
  height: 25vh;
  background-color: #fff;
  padding: 4vh;
  cursor: pointer;
}

.dia {
  aspect-ratio: 1;
  background: #e5e7eb;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 2px;
}

.dia.activo {
  background: #22c55e;
  color: #fff;
}

.dia.vacio {
  background: transparent;
}

/* eje */

canvas {
  background-color: #fff;
  width: 20vh;
}

.eje-progreso {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.fila-dia {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fila-dia span {
  width: 24px;
  font-size: 12px;
  text-align: right;
}

.punto {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d1d5db; /* gris */
}

.punto.activo {
  background: #22c55e; /* verde */
}
