/* contenedor principal */

.contenedor-inicio {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

/* agregar nuevo */

.cont-nuevo-habito {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 80%;
    gap: 2vh;
    padding: 20px;
}

/* cont nombre */

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.nom-nuev-habito {
    display: none;
}

/* cont progreso (dia, semana, mes) */

.espe-nuev-habito {
    display: none;
}

.cont-nuevo-habito-opc {
    background-color: #fff;
    width: 80%;
    padding: 20px;
}

.cont-nuevo-habito .menu-progreso {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

/* Cantidad de habitos */

.habitos {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 40vh;
    flex-direction: row;
    gap: 2vh;
}

.estadisticas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: 30vh;
}

.habito {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: 30vh;
}