input {
    height: 40px;
    width: 30vh;
    font-size: 20px;
    padding: 1vh;
    border: none;
    border-bottom: 1px solid #000;
}

input:hover {
    background-color: rgb(215, 215, 215);
    transition: .2s;
}
