.logo {
    display: flex;

}

.logo a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.logo a img {
    width: 5vh;
}

.logo a p {
    font-size: 4vh;
    font-weight: bold;
}