@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Special+Gothic+Condensed+One&display=swap');

@import url("logo.css");

@import url('button.css');
@import url('input.css');

@import url('nav.css');
@import url('input-opciones.css');
@import url('inicio.css');

.quicksand {
  font-family: "Quicksand";
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: "quicksand";
}

body {
    background-color: rgb(231, 243, 252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.i {
    height: 6vh;
    width: 8vh;
}