.contenedor-nav {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #fff;
    width: 100%;
}

nav img {
    height: 8vh;
    margin: 10px;
    cursor: pointer;
}

.menu-hamburguesa-cerrado {
    display: none;
}

.menu-hamburguesa-cerrado.activo {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 30vh;
    height: 100vh;
    background-color: #fff;
}

